@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans/OpenSans.eot'); 
  src: url('../fonts/OpenSans/OpenSans.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/OpenSans/OpenSans.woff2') format('woff2'), 
       url('../fonts/OpenSans/OpenSans.woff') format('woff'), 
       url('../fonts/OpenSans/OpenSans.ttf')  format('truetype'), 
       url('../fonts/OpenSans/OpenSans.svg#svgFontName') format('svg'); 
}	
@font-face {
  font-family: 'Big John';
  src: url('../fonts/BigJohn/BigJohn.eot'); 
  src: url('../fonts/BigJohn/BigJohn.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/BigJohn/BigJohn.woff2') format('woff2'), 
       url('../fonts/BigJohn/BigJohn.woff') format('woff'), 
       url('../fonts/BigJohn/BigJohn.ttf')  format('truetype'), 
       url('../fonts/BigJohn/BigJohn.svg#svgFontName') format('svg'); 
}
@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot'); 
  src: url('../fonts/SourceSansPro-Light/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/SourceSansPro-Light/SourceSansPro-Light.woff2') format('woff2'), 
       url('../fonts/SourceSansPro-Light/SourceSansPro-Light.woff') format('woff'), 
       url('../fonts/SourceSansPro-Light/SourceSansPro-Light.ttf')  format('truetype'), 
       url('../fonts/SourceSansPro-Light/SourceSansPro-Light.svg#svgFontName') format('svg'); 
}
@font-face {
	font-family: 'SourceSansPro-Black';
	src: url('../fonts/SourceSansPro-Black/SourceSansPro-Black.eot'); 
	src: url('../fonts/SourceSansPro-Black/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), 
		 url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff2') format('woff2'), 
		 url('../fonts/SourceSansPro-Black/SourceSansPro-Black.woff') format('woff'), 
		 url('../fonts/SourceSansPro-Black/SourceSansPro-Black.ttf')  format('truetype'), 
		 url('../fonts/SourceSansPro-Black/SourceSansPro-Black.svg#svgFontName') format('svg'); 
  }